.menu {
  display: flex;
  align-items: center;
  color: darkblue;
}
.smallScreenMenu {
  display: none;
}
.menuLinks {
  color: darkblue;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .smallScreenMenu {
    display: block;
  }
}
