.profilediv {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  height: 95vh;
  justify-content: center;
}

.profielSecondDiv {
  margin-left: 10px;
  font-size: 20px;
  text-align: initial;
  margin-left: 20px;
}
