.profieData {
  font-size: 20px;
  width: 70%;
}

.profileInputs {
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  cursor: not-allowed;
  margin-top: 5px;
}
.profileInputs {
  width: 100%;
}
