/* Loading icon */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Image upload profile */
.imageUploadPreview {
  width: 12rem;
  height: 12rem;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  clip-path: circle(50% at 50% 50%);
}

/* Profile */
.profilediv {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

/* Login */
.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px 20px;
}
#basic {
  background: darkseagreen !important;
  padding: 20px !important;
  border-radius: 25px !important;
  text-align: center;
}
.loginBtn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.logoHeading {
  display: flex;
  align-items: center;
  gap: 15px;
}
#campusIcon {
  font-size: 100px;
  color: green;
}
.signuplink {
  margin-left: 8px;
}

/* companyJobPostForm */
.companyJobPostForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.tableContainer {
  padding: 16px;
}

/* Modal */
.ModalDiv {
  margin: 0px 15px;
}

@media only screen and (max-width: 480px) {
  .css-1wnsr1i {
    width: 350px !important;
  }
}

@media only screen and (max-width: 350px) {
  .css-1wnsr1i {
    width: 250px !important;
  }
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: center !important;
}
