/* Navbar */

.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: lightblue;
}

.firstNavDiv {
  display: flex;
}

/* Loading icon */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Image upload profile */

.imageUploadPreview {
  width: 12rem;
  height: 12rem;
  border: 1px solid grey;
  border-radius: 50%;
  margin-bottom: 1rem;
  position: relative;
}

.addBtnDiv {
  position: absolute;
  bottom: 5px;
  right: 25px;
  border-radius: 8px;
  padding: 1px;
  font-size: 30px !important;
  cursor: pointer;
  color: black;
  background-color: darkgray;
}

.save-cancel-BtnDiv {
  position: absolute;
  bottom: 15px;
  right: 65px;
  cursor: pointer;
}

.saveBtn {
  margin-right: 15px;
}

.opacity {
  background-color: darkgray;
  border-radius: 8px;
}

/* Profile */

.profilediv {
  display: flex;
  align-items: center;
  height: 88vh;
  justify-content: center;
  text-align: center;
}

.profielSecondDiv {
  margin-left: 10px;
  font-size: 20px;
  text-align: initial;
  margin-left: 20px;
}

/* Menu */

.menu {
  display: flex;
  align-items: center;
}

.Links {
  color: black;
  text-decoration: none;
}

/* Login & SignUp */

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px 20px;
}

.Btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.link {
  margin-left: 8px;
}

/*  Grid table*/
.css-z8fhq1-MuiDataGrid-columnHeaders {
  background-color: lightblue;
}

/* companyJobPostForm */

.companyJobPostForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

/* grid tale */

.tableContainer {
  width: 700px;
  margin: 0 auto;
  padding: 16px;
}

/* to remove selected row text showing bottom on grid table */

.MuiDataGrid-selectedRowCount {
  color: floralwhite;
}

@media only screen and (max-width: 400px) {
  .profilediv {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .css-1wnsr1i {
    width: 300px !important;
  }
}

@media only screen and (max-width: 350px) {
  .css-1wnsr1i {
    width: 250px !important;
  }
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: center !important;
}

button {
  cursor: pointer;
}
