/* Navbar */

.navDiv {
  display: flex;
  justify-content: space-between;
}

/* Loading icon */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Image upload profile */

.imageUploadPreview {
  width: 12rem;
  height: 12rem;
  border: 2px solid black;
  border-radius: 50%;
  margin-bottom: 1rem;
  position: relative;
}

.addBtnDiv {
  position: absolute;
  bottom: 5px;
  right: 30px;
  cursor: pointer;
}

.saveBtnDiv {
  position: absolute;
  bottom: 15px;
  right: 45px;
}

/* Profile */

.profilediv {
  display: flex;
  align-items: center;
  height: 97vh;
  justify-content: center;
  text-align: center;
}

.profielSecondDiv {
  margin-left: 10px;
  font-size: 20px;
  text-align: initial;
  margin-left: 20px;
}

/* Login & SignUp */

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px 20px;
}

.Btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.link {
  margin-left: 8px;
}

/* companyJobPostForm */

.companyJobPostForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

/* grid tale */

.tableContainer {
  width: 700px;
  margin: 0 auto;
  padding: 16px;
}

/* to remove selected row text showing bottom on grid table */

.MuiDataGrid-selectedRowCount {
  color: floralwhite;
}

@media only screen and (max-width: 400px) {
  .profilediv {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .css-1wnsr1i {
    width: 300px !important;
  }
}

@media only screen and (max-width: 350px) {
  .css-1wnsr1i {
    width: 250px !important;
  }
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: center !important;
}

button {
  cursor: pointer;
}
