/* Navbar */

.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 5px 5px;
  height: 65px;
}
.firstNavDiv {
  display: flex;
  align-items: center;
  height: 100%;
}
.Links {
  color: darkblue;
  text-decoration: none;
}
.Links:hover {
  color: red;
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .linksHidden {
    display: none;
  }
  .navDiv {
    justify-content: space-between;
  }
}
