/* Login & SignUp */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  gap: 35px;
}
.LoginSignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 100vh;
  padding: 0px 10px;
}
.formSteps {
  margin-bottom: 15px;
}
span > p {
  margin: 0;
  color: red;
}

/* Input */
.Input {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  width: 96%;
}

/* .snackBar {
  margin-top: 60px;
} */

.formDiv {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 16px 32px;
  background-color: #62aec6;
  border: 1px solid#008cba;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

label {
  margin-bottom: 5px;
}
.link {
  margin-left: 8px;
}
.link:hover {
  color: red;
  text-decoration: underline;
}

/* selectOptions  */
.selectOptions {
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.signUpSelectOption {
  text-align: start;
  font-size: 15px;
  margin: 0;
  padding: 9px;
  border-radius: 10px;
}

/* modalCloseIcon  */
.modalCloseIcon {
  margin-right: 10px;
  font-size: 25px;
  color: red;
  cursor: pointer;
}

/* loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Reuse button */
.ButtonReuse {
  background-color: lightblue;
  color: black;
  border: 2px solid #008cba;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
}
.opacity1 {
  background-color: lightblue;
  color: black;
  border: 2px solid #008cba;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  padding: 5px 10px;
  opacity: 0.5;
  cursor: pointer;
}
.ButtonReuse:hover {
  background-color: #008cba;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttonWidth {
  width: 70px;
}

.showPasswordDiv {
  margin: 5px 0px;
}

@media only screen and (max-width: 600px) {
  .formDiv {
    width: 300px;
  }
  .Input {
    width: 93%;
  }
}

@media only screen and (max-width: 400px) {
  .profilediv {
    flex-direction: column;
  }
  .noStudent {
    font-size: 16px;
  }
  .formDiv {
    padding: 16px 12px;
    width: 240px;
  }
  .Input {
    width: 92%;
  }
  .role {
    display: flex;
    flex-wrap: wrap;
  }
  #Student {
    margin-top: 10px;
  }
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: center !important;
}
